{{ define "main" }}
    <div class="pl-sm-4 ml-sm-5">
        <ul class="list-unstyled">
        {{ partial "review_page_header.html" . }}
        {{ range .Pages }}
            <li>
                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                    {{ .Date.Format "Jan-02-06" }}
                </time>
                {{ if in .Permalink "movies" }}
                    🎥 Review:
                {{ end }}
                {{ if in .Permalink "books" }}
                    📚 Review:
                {{ end }}
                <a href="{{ .URL | relURL }}">
                    {{ if .Draft }}DRAFT: {{end}}{{ .Title }}
                </a>
                {{ partial "reading-time.html" . }}
            </li>
        {{ end }}
        </ul>
    </div>
{{ end }}
