<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}
  <body>
    <div id="content" class="mx-auto">
      {{- partial "header.html" . -}}
      <div class="container">{{- block "main" . }}{{- end }}</div>
    </div>
    {{ if .Params.asciinema }}
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ .Site.BaseURL }}css/asciinema-player.css"
    />
    <script src="{{ .Site.BaseURL }}js/asciinema-player.js"></script>
    {{ end }}
    {{ if .Params.clappy }}
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ .Site.BaseURL }}css/clappy.css"
    />
    <script src="{{ .Site.BaseURL }}js/clappy.js"></script>
    {{ end }}
    {{ if .Params.audio }}
    <script src="{{ .Site.BaseURL }}js/audio.js"></script>
    {{ end }}
    {{- partial "footer.html" . -}}
  </body>
</html>
