<div class="pl-sm-4 ml-sm-5 pt-2">
  <div class="row">
    <div class="col-12">
      <div class="pb-3">
        {{ range .Site.RegularPages.GroupByDate "2006" }}
        {{ if not (in .Key "0001") }}
        <h5>
          <span class="badge category text-capitalize">
            {{ .Key }}
          </span>
        </h5>
        {{ end }}
        <ul>
          {{ range .Pages }}
            {{ if not (in .Permalink "reviews") }}
            {{if not (in .Permalink "projects")}}
            {{if not (in .Title "About")}}
              <li>
                {{ .Date.Format "Jan" }}  <a href="{{ .RelPermalink }}">{{ .Title }}</a>  {{ partial "reading-time.html" . }}
              </li>
            {{ end }}
            {{ end }}
            {{ end }}
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</div>
