{{ if in .URL "reviews" }}
<div class="reviews-header">
  <h6>
    I have a great passion for cinema 🎦 and good TV series 📺.
    I am a true <a href="https://en.wikipedia.org/wiki/Cinephilia">cinephile<a> at heart.
    This section of the website is dedicated to my reviews of the films, TV series and books that I have watched and read.
    I am particularly interested in Indian cinema, especially <a href="https://en.wikipedia.org/wiki/Malayalam_cinema">Malayalam cinema</a>,
    which happens to be my mother tongue.</br>
    Movies I've enjoyed so far are listed <a href="https://trakt.tv/users/piuzprinz/history" target="_blank">here</a>.
    </br>It's also a suggestion list since I only add movies I liked.
  </h6>
</div><hr>
{{ end }}
