<head>
  <title>{{ .Title }}</title>

  <meta name="description" content="Just Some Random Engineering, DIY Stuff" />

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://prinzpiuz.in/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="prinzpiuz" />
  <meta
    property="og:description"
    content="Just Some Random Engineering, DIY Stuff"
  />
  <meta property="og:image" content="https://prinzpiuz.in/images/avatar.jpeg" />

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:domain" content="prinzpiuz.in" />
  <meta property="twitter:url" content="https://prinzpiuz.in/" />
  <meta name="twitter:title" content="prinzpiuz" />
  <meta
    name="twitter:description"
    content="Just Some Random Engineering, DIY Stuff"
  />
  <meta
    name="twitter:image"
    content="https://prinzpiuz.in/images/avatar.jpeg"
  />

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->

  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="stylesheet" href="/css/theme.css" />
  <script
    data-goatcounter="https://prinzpiuz.goatcounter.com/count"
    async
    src="//gc.zgo.at/count.js"
  ></script>
  {{ if .Params.asciinema }}
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ .Site.BaseURL }}css/asciinema-player.css"
  />
  {{ end }}
</head>
